body {
	margin: auto;
	background-color: white;
	color: #311288;
	text-align: center;
	width: 1000px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.55em;
	height: 100%;
}

header,
main,
footer {
	max-width: 900px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

header,
footer {
	padding: 1.5rem;
	background-color: #A42B23;
	border-radius: 15px;
	width: 100%;
	height: 200px;
	font-family: 'Montserrat', sans-serif;
}

#profilePic {
	max-width: 250px;
	height: auto;
}

#profile-name {
	margin-left: 55px;
	right: 0;
}

#profilepic {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	float: left;
}

h1 {
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 1rem;
}

main,
main a {
	color: #000;
}

main ul {
	display: inline-block;
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	padding: 5px;
}

.grid-item {
	max-width: 400px;
	padding: 5px;
	background-color: rgb(250, 250, 237);
	border-radius: 20px;
	box-shadow: 2px 2px 22px;
	box-sizing: border-box;
	gap: 16px;
}

.chalk {
	max-width: 100px;
}

.image-grid > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

footer a {
	color: #b4c0d4;
}

.nested {
	display: block;
}

#icon {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	max-width: 100px;
	max-height: 100px;
	border: 2px solid #074915;
	border-radius: 10px;
	box-shadow: hwb(195 98% 1%) 0px 0px 15px;
}

header {
	display: center;
}

header img {
	max-width: 200px;
	background-size: cover;
	text-align: center;
}

footer {
	display: block;
}

footer img {
	max-width: 200px;
	background-size: cover;
	justify-content: center;
}

nav {
	background-color: #b4c0d4;
	color: #311288;
	font-size: 1.5rem;
	padding: 1.5px;
}

nav a,
footer a {
	color: #2395A4;
	text-decoration: none;
}

.navigation {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 10px;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	color: #2395A4;
}

img {
	width: 200px;
	height: auto;
}

.location img {
	width: 5px;
	height: 5px;
}

header {
	background-color: #A42B23;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 100%;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: forestgreen;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 3px;
	height: 3px;
}

.social img {
	width: 30px;
	height: 30px;
}

.social img {
	width: 3%;
	height: 3%;
	align-items: flex-start;
	float: right;
	padding: auto;
}

#lastModified {
	text-align: center;
	font-size: smaller;
	margin: 0;
	background-color: rgb(141, 158, 211);
}

.nav button {
	background: transparent;
	border: none;
	font-size: 2.5rem;
	color: #555;
}

.nav {
	background-color: #ebe7db;
	margin-right: .6rem;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	justify-content: center;
}

nav ul li a {
	display: block;
	padding: .8rem 2vw;
	font-size: 1.3rem;
	font-weight: 700;
	text-decoration: none;
	color: #333;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	text-align: center;
}

nav ul li a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
	display: none;
}

nav ul.open {
	display: block;
	text-align: left;
}

#hamburgerBtn span:nth-child(1) {
	display: block;
}

#hamburgerBtn span:nth-child(2) {
	display: none;
}

#hamburgerBtn.open span:nth-child(1) {
	display: none;
}

#hamburgerBtn.open span:nth-child(2) {
	display: block;
}

nav {
	margin: 0 auto;
	background-color: #9b5153;
	background-image: linear-gradient(to right, #912a2d, #2094ca);
	margin-top: -21px;
}

.navigation {
	list-style: none;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.navigation li:first-child {
	display: block;
	height: 45px;
}

.container {
	display: inline-block;
	cursor: pointer;
	margin-top: -10px;
}

#menu {
	margin-top: 2px;
	margin-left: 17px;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
