/* SUMMARY 
01. ROOT
02. FONT
03. GLOBAL STYLING
04. HEADER

*/

/* ==== 01. ROOT ==== */
:root {
    --clr-primary: #d50000;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
  
    /*   border radius */
    --radius: 0.2rem;
  }
  
  /* ==== 02. FONTS ==== */
  @import "";
  
  /* ==== 03. GLOBAL STYLING ==== */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Oxygen, sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    justify-content: center;
    grid-gap: 2rem;
    margin: 2rem;
  }
  
  ul,
  a,
  li,
  button {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .card {
    box-shadow: 0px 2px 20px var(--clr-gray200);
    border-radius: var(--radius);
    overflow: hidden; /* to make radius visible */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Put view recipe at the end of the container */
  }
  
  
  .card img {
    height: 12rem;
    width: 100%; /* extend the entire card with*/
    object-fit: cover;
    transition: transform 200ms ease-in;
  }
  
  .card-title {
    padding: 1rem;
  }
  
  .card-description {
     padding: 0 1rem;
  }
  
  .card-btn {
     padding: 1rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1rem;
      margin: 1rem;
      border: 2px solid var(--clr-primary);
      background: transparent;
      color: var(--clr-primary);
      border-radius: var(--radius);
      transition: background 200ms ease-in, color 200ms ease-in;
  }
  
  /* Hover Effects */
  
  .card:hover {
     transform: scale(1.02);
  }
  
  .card-btn:hover {
    background: var(--clr-primary);
    color: white;
  }